<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log.home" value="./logs" />
	<property name="log.root.level" value="INFO" />
    <property name="log.context.name" value="summoner-mesos-executor" />
	<property name="flumeip" value="172.18.51.75:10425 172.18.51.75:10425" />
	<contextName>${log.context.name}</contextName>
	
	<!-- 默认输出文件 -->
	<appender name="DEFAULT-APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.home}/default/${log.context.name}-default.log
		</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.home}/default/${log.context.name}-default.log.%d{yyyyMMdd}
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>[%d] [%t] [%-4p] [%c{2}] [%X{traceRootId}/%X{uniqueId}/%X{userId}/%X{userEmail}/%X{userPhone}] - [%m]%n</pattern>
		</encoder>
	</appender>
	<!-- 默认错误文件 -->
	<appender name="ERROR-APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.home}/error/${log.context.name}-error.log
		</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.home}/error/${log.context.name}-error.log.%d{yyyyMMdd}
			</fileNamePattern>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>[%d] [%t] [%-4p] [%c{2}] [%X{traceRootId}/%X{uniqueId}/%X{userId}/%X{userEmail}/%X{userPhone}] - [%m]%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
	</appender>
	
	<appender name="FLUME-LOG-CONSOLE" class="com.yunzong.flume.clients.logbackappender.LoadBalancingLogbackAppender" >
		<param name="Hosts" value="${flumeip}" />
		<layout class="org.apache.log4j.PatternLayout"/>
	</appender>
    <!-- <appender name="FLUME-LOG-CONSOLE" class="ch.qos.logback.core.rolling.RollingFileAppender" >
		<file>${log.home}/${log.context.name}-default.log
		</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.home}/${log.context.name}-default.log.%d{yyyyMMdd}
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>[%d] [%t] [%-4p] [%c{2}] - [%m]%n</pattern>
		</encoder>
	</appender> -->
	<!-- 屏蔽jdk日志 -->
	<logger name="java" level="WARN" />

	<logger name="flume-exec.log">  
        <level value="INFO" />  
        <appender-ref ref="FLUME-LOG-CONSOLE" />
    </logger>

	<!-- 屏蔽logger 结束 -->
	<root level="${log.root.level}">
		<appender-ref ref="DEFAULT-APPENDER"></appender-ref>
		<appender-ref ref="ERROR-APPENDER"></appender-ref>
		<appender-ref ref="WARN-APPENDER"></appender-ref>
	</root>
</configuration> 